<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<style>
    .main {
        width: 400px;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
</style>
<body>
    <div class="main">
        <h5>Faça seu login</h5>
        <form action="">
            <label for="login"> nome do usuário</label>
            <input type="text">
        </form> {% csrf_token %}
    </div>
</body>
</html>